
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View our Animals</title>
    <link rel="stylesheet" href="/client/css/animal_shelter.css">
    <link rel="stylesheet" href="/client/css/browse-data.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/client/js/config.js"></script> 
    <script src="/client/js/browse-data.js" async></script>
</head>
<body ng-app="browseRecordsApp" ng-controller="browseRecordsCtrl">
    <main>
        <section>
            <div class="header" >
                <div id="site_name">Nina's Animal Shelter</div>
            </div>
            <div class="nav-bar">

                <a class="link" href="/">Home</a> <!-- change from "animal_shelter.html to "/" to get from server"-->
                <a class="link" href="/write-data">Enter Data</a> <!-- change from "write-data.html to "/write-data" "-->
                <a class="link" href="/view-data">View Data</a>
                <a class="link" href="/browse-data">Browse Data</a>
            </div>
            <div class="separator"></div>
        </section><div id="bgimg"></div>
        <section class="browseBox">
            
            <div id="browseInfo" >
                <div>
                    <label class="labelField"for="name">Name: </label>
                    <label class="valueField" id="name">{{obj.name}}</label>
                </div>
                <div>
                    <label class="labelField"for="species">Species: </label>
                    <label class="valueField" id="species">{{obj.species}}</label>
                </div>
                <div>
                    <label class="labelField" for="breed">Breed: </label>
                    <label class="valueField" id="breed">{{obj.breed}}</label>
                </div>
                <div>
                    <label class="labelField" for="age">Age: </label>
                    <label class="valueField" id="age">{{obj.age}}</label>
                </div>
                <div>
                    <label class="labelField"for="color">Color: </label>
                    <label class="valueField" id="color">{{obj.color}}</label>
                </div>
                <div>
                    <label class="labelField"for="temperament">Termperament: </label>
                    <label class="valueField" id="temperament">{{obj.temperament}}</label>
                </div>
                <div>
                    <label class="labelField"for="entry type">Entry Type: </label>
                    <label class="valueField" id="entryType">{{obj.entryType}}</label>
                </div>
            

                <div class="btnContainer" >
                    <div id="browseButtons">
                        <div class="btnStyle">
                            <button id="previous" ng-click="changeRecord(-1)" ng-hide="hidePrev">&lt&lt&lt Previous</button>
                        </div>
                    </div>
                    <div id="browseButtons"></div>
                        <div class="btnStyle" >
                            <button id="next" ng-click="changeRecord(1)" ng-hide="hideNext">Next &gt&gt&gt</button>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
    </main>
</body>
</html>