
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View our Animals</title>
    <link rel="stylesheet" href="/client/css/animal_shelter.css">
    <link rel="stylesheet" href="/client/css/browse-data.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/client/js/config.js"></script> 
    <script src="/client/js/browse-data.js" async></script>
</head>
<body ng-app="browseRecordsApp" ng-controller="browseRecordsCtrl">
    <main>
        <section>
            <div class="header" >
                <div id="site_name">Nina's Animal Shelter</div>
            </div>
            <div class="nav-bar">

                <a class="link" href="/">Home</a> <!-- change from "animal_shelter.html to "/" to get from server"-->
                <a class="link" href="/write-data">Enter Data</a> <!-- change from "write-data.html to "/write-data" "-->
                <a class="link" href="/view-data">View Data</a>
                <a class="link" href="/browse-data">Browse Data</a>
            </div>
            <div class="separator"></div>
        </section>
        <section class="browse">
            <div id="bgimg"></div>
            <div id="browseInfo" style="font-size: 30px">
                <div>
                    <label for="name">Name: </label>
                    <label style="margin-left: 30px; color: blue;" id="name">{{obj.name}}</label>
                </div>
                <div>
                    <label for="name">Species: </label>
                    <label style="margin-left: 30px; color: blue;" id="name">{{obj.species}}</label>
                </div>
                <div>
                    <label for="name">Breed: </label>
                    <label style="margin-left: 30px; color: blue;" id="name">{{obj.breed}}</label>
                </div>
                <div>
                    <label for="name">Color: </label>
                    <label style="margin-left: 30px; color: blue;" id="name">{{obj.color}}</label>
                </div>
                <div>
                    <label for="name">Termperament: </label>
                    <label style="margin-left: 30px; color: blue;" id="name">{{obj.temperament}}</label>
                </div>
                <div>
                    <label for="name">Entry Type: </label>
                    <label style="margin-left: 30px; color: blue;" id="name">{{obj.entryType}}</label>
                </div>
            

                <div style="float: left; margin-top: 30px">
                    <div style="float: left;">
                        <button id="previous" ng-click="changeRecord(-1)" ng-hide="hidePrev">&lt&lt&lt Previous</button>
                    </div>

                    <div style="float: left;">
                        <button id="next" ng-click="changeRecord(1)" ng-hide="hideNext">Next &gt&gt&gt</button>
                    </div>
                </div>
            </div>  
        </section>
    </main>
</body>
</html>