
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html>
    <head>
        <title>View our Animals</title>
        <link rel="stylesheet" href="/client/css/animal_shelter.css">
        <link rel="stylesheet" href="/client/css/view-data.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="/client/js/config.js"></script> 
        <script src="/client/js/view-data.js" async></script>
    </head>
    <body data-ng-app="viewRecordsApp" data-ng-controller="viewRecordsController" data-ng-init="hideForm=true">
        <main>
            <section>
                <div class="header" >
                    <div id="site_name">Nina's Animal Shelter</div>
                </div>
                <div class="nav-bar">
                    <a class="link" href="/">Home</a> <!-- change from "animal_shelter.html to "/" to get from server"-->
                    <a class="link" href="/write-data">Enter Data</a> <!-- change from "write-data.html to "/write-data" "-->
                    <a class="link" href="/view-data">View Data</a>
                    <a class="link" href="/browse-data">Browse Data</a>
                </div>
                <div class="separator"></div>
            </section>
            <section class="viewDataPage">
                <div id="bgimg"></div>             
                <div id="tablebox" data-ng-hide="hideTable">
                    <div id="selectors">
                        <div id="findByType">
                            <label for="groupby">Find By Animal Type:</label>
                            <select id="groupby"
                                    data-ng-model="selectedType"  
                                    data-ng-options="species.display for species in types" 
                                    data-ng-change="redrawTable()"
                                >
                            </select>
                        </div>
                        <div id="sortPicker">
                            <label for="sortby">Sort by:</label>
                            <select id="sortby"
                                    data-ng-model="selectedSort"
                                    data-ng-change="redrawTable()">
                                <option value="name">NAME</option>
                                <option value="species">SPECIES</option>
                                <option value="breed">BREED</option>
                                <option value="age">AGE</option>
                                <option value="color">COLOR</option>
                                <option value="temperament">TEMPERAMENT</option>
                                <option value="entryType">ENTRY TYPE</option>
                            </select>
                        </div>
                    </div>
                    <table class="table">
                        <colgroup>
                            <col class='col-xs-3'>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Species</th>
                                <th>Breed</th>
                                <th>Age</th>
                                <th>Color</th>
                                <th>Temperament</th>
                                <th>Entry Type</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id='animalTable'>
                            <tr data-ng-repeat="obj in animals">
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.species }}</td>
                                <td>{{ obj.breed }}</td>
                                <td>{{ obj.age }}</td>
                                <td>{{ obj.color }}</td>
                                <td>{{ obj.temperament }}</td>
                                <td>{{ obj.entryType }}</td>
                                <td>
                                    <button data-ng-click="deleteRecord(obj['_id'])">DELETE</button>
                                </td>
                                <td>
                                    <button data-ng-click="editRecord($index)">EDIT</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section id="updateForm" data-ng-hide="hideForm">
                <div id="updateHeader">Update Animal Data</div>
                <div>
                    <label data-ng-model="id" hidden></label>
                </div>
                <div>
                    <label for="name">Name: </label>
                    <input type="text" id="name" data-ng-model="name" data-ng-change=startNew()>
                </div>
                <div>
                    <label for="species">Species: </label>
                    <input type="text" id="species" data-ng-model="species" data-ng-change=startNew()>
                </div>
                <div>
                    <label for="breed">Breed: </label>
                    <input type="text" id="breed" data-ng-model="breed" data-ng-change=startNew()>
                </div>
                <div>
                    <label for="age">Age: </label>
                    <input type="text" id="age" data-ng-model="age" data-ng-change=startNew()>
                </div>
                <div>
                    <label for="color">Color: </label>
                    <input type="text" id="color" data-ng-model="color" data-ng-change=startNew()>
                </div>
                <div>
                    <label for="temperament">Temperament: </label>
                    <input type="text" id="temperament" data-ng-model="temperament" data-ng-change=startNew()>
                </div>
                <div>
                    <label for="entryType">Entry Type: </label>
                    <input type="text" id="entryType" data-ng-model="entryType" data-ng-change=startNew()>
                </div>

                <div id="updateFormBtn">
                    <div>
                        <button id="submit" data-ng-click="updateRecord()">Update</button>
                    </div>
                </div>

                <div id="updateFormBtn"> 
                    <div>
                        <button id="cancelButton" data-ng-click="cancelUpdate()">Cancel</button>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>